.visitor-lark-map {
  .maplibregl-ctrl-attrib.maplibregl-compact {
    background-color: rgb(255 255 255 / 72%);
  }

  .maplibregl-ctrl-attrib .maplibregl-ctrl-attrib-button {
    background-color: transparent;
    opacity: 0.5;
  }

  .maplibregl-ctrl-attrib .maplibregl-ctrl-attrib-button:focus {
    box-shadow: none;
  }

  .maplibregl-ctrl-attrib .maplibregl-ctrl-attrib-button:focus-visible {
    opacity: 0.8;
  }
}

.dark .visitor-lark-map {
  .maplibregl-ctrl-attrib.maplibregl-compact {
    color: rgb(228 228 231 / 70%);
    background-color: rgb(24 24 27 / 72%);
  }

  .maplibregl-ctrl-attrib a {
    color: inherit;
  }

  .maplibregl-ctrl-attrib .maplibregl-ctrl-attrib-button {
    filter: invert(1);
    opacity: 0.4;
  }
}
