/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #147af3;
  --ifm-color-primary-dark: #0b6de1;
  --ifm-color-primary-darker: #0b67d5;
  --ifm-color-primary-darkest: #0955af;
  --ifm-color-primary-light: #2d88f4;
  --ifm-color-primary-lighter: #3a8ff5;
  --ifm-color-primary-lightest: #5fa4f7;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4791eb;
  --ifm-color-primary-dark: #2b80e8;
  --ifm-color-primary-darker: #1e78e6;
  --ifm-color-primary-darkest: #1563c1;
  --ifm-color-primary-light: #63a1ee;
  --ifm-color-primary-lighter: #70aaef;
  --ifm-color-primary-lightest: #9ac2f4;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.footer {
  border-top: 1px solid var(--ifm-toc-border-color);
}

.footer--dark {
  --ifm-footer-background-color: --ifm-background-surface-color
}
