@import 'antd/dist/reset.css';

/* fix Tailwind CSS border styles,form Tailwind CSS's preflight */
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: theme('borderColor.DEFAULT', currentColor); /* 2 */
}

::before,
::after {
  --tw-content: '';
}

a {
  text-decoration: none;
}

#root,
.App {
  height: 100%;
  font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

.App.dark {
  @apply bg-gray-900 text-white;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-black bg-opacity-10;
  border-color: transparent;
  background-clip: padding-box;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-black bg-opacity-20;
}

::-webkit-scrollbar-track {
  @apply bg-black bg-opacity-5;
  border-color: transparent;
  background-clip: padding-box;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* use for adapt new design, avoid preflight conflict */
.ant-btn-primary {
  background-color: #1677ff;
}
.ant-switch {
  @apply bg-muted;
  /* background: hsl(var(--muted)); */
}

/* https://ui.shadcn.com/themes */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
